@font-face {
  font-family: 'Brandon Grotesque Light';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Light"), url("../fonts/brandon-grotesque-light-58a8a4b38001d.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Grotesque Black';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Black"), url("../fonts/brandon-grotesque-black-58a8a3e824392.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Grotesque Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Medium Italic"), url("../fonts/brandon-grotesque-medium-italic-58a8a3c40866a.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Grotesque Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Light Italic"), url("../fonts/brandon-grotesque-light-italic-58a8a4ccb88be.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Grotesque Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Bold Italic"), url("../fonts/brandon-grotesque-bold-italic-58a8a48221563.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Grotesque Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Regular Italic"), url("../fonts/brandon-grotesque-regular-italic-58a8a456c4724.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Grotesque Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Thin Italic"), url("../fonts/brandon-grotesque-thin-italic-58a8a3a8861fe.woff") format("woff");
}

body, p, h1, h2, h3, ul, li, a {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Brandon Grotesque Light', Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.header-info {
  font-size: 1.125em;
  text-align: center;
  background: #d6d3c8;
  padding: 5px 0;
}

.header-logo img {
  margin: 40px auto;
}

.header-menu {
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
  text-align: center;
  margin-bottom: 40px;
  padding: 20px 0;
}

.header-menu li {
  display: inline-block;
}

.header-menu li a {
  display: block;
  padding: 5px 10px 5px 0;
  margin-left: 10px;
  font-size: 1.5em;
  color: #252525;
}

.header-menu li a::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #252525;
  margin-right: 15px;
}

.header-menu li:first-child a::before {
  display: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

@media screen and (min-width: 740px) and (max-width: 979px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 739px) {
  .container {
    max-width: 300px;
  }
}

.filter {
  background: #e7e4d8;
  border: 3px solid #d6d3c8;
  width: 300px;
  margin: 0 10px;
  padding: 20px;
  float: left;
}

.filter h2 {
  font-size: 1.7em;
  padding: 10px 0;
}

.filter ul {
  border-top: 3px solid #c0beb4;
  border-bottom: 3px solid #c0beb4;
  padding: 10px 0;
}

.filter ul li {
  font-style: italic;
  font-size: 1.125em;
  line-height: 2;
}

.filter ul li::after {
  content: '';
  width: 20px;
  height: 20px;
  border: 3px solid #c0beb4;
  display: block;
  margin-top: 5px;
  float: right;
}

.filter .flavor {
  overflow: hidden;
}

.filter .flavor span {
  text-indent: -200px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: currentColor;
}

.filter .flavor .flavor-1 {
  color: #492901;
  box-shadow: 20px 0 0 0 currentColor, 40px 0 0 0 currentColor;
}

.filter .flavor .flavor-2 {
  color: #c17139;
  box-shadow: 20px 0 0 0 currentColor, 40px 0 0 0 currentColor, 60px 0 0 0 currentColor;
}

.filter .flavor .flavor-3 {
  color: #d7a54d;
  box-shadow: 20px 0 0 0 currentColor, 40px 0 0 0 currentColor, 60px 0 0 0 currentColor, 80px 0 0 0 currentColor;
}

@media screen and (min-width: 740px) and (max-width: 979px) {
  .filter {
    width: 220px;
  }
}

@media screen and (max-width: 739px) {
  .filter {
    display: none;
  }
}

.products {
  width: 620px;
  margin: 0 10px;
  float: left;
}

.products h1 {
  font-size: 3.2em;
}

.products ul li {
  width: 300px;
  float: left;
}

.products ul li:nth-child(even) {
  margin-left: 20px;
}

.products ul li img {
  border: 3px solid #ffffff;
  box-shadow: 0 0 0 3px #252525;
  margin: 40px 3px 3px 0;
}

.products ul li span {
  background: #e7e4d8;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  position: relative;
  top: -15px;
  right: 3px;
}

.products ul li h2 {
  font-size: 1.2em;
}

@media screen and (min-width: 740px) and (max-width: 979px) {
  .products {
    width: 460px;
  }
}

@media screen and (max-width: 739px) {
  .products {
    width: 300px;
  }
}

@media screen and (min-width: 740px) and (max-width: 979px) {
  .products ul li {
    width: 220px;
  }
}

@media screen and (max-width: 739px) {
  .products ul li {
    width: 140px;
  }
}

.footer {
  background: #e7e4d8;
  text-align: center;
  padding: 40px 0;
  font-size: 1.5em;
  line-height: 2;
  margin-top: 40px;
}
